<!doctype html>
<html data-ng-app="QueueTube">
  <head>
    <meta charset="utf-8"> 
    <title>QueueTube - Build, Play, Share</title>
    <meta name="author" content="A. Bansal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="ladda.min.css" type="text/css">
    <link rel="icon" href="favicon.ico">
    <script src="vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-os'</script>
    <link rel="stylesheet" href="vex.css" />
    <link rel="stylesheet" href="vex-theme-os.css" />
  </head>
  <body data-ng-controller="VideosController">
    <header>
      <h1>Queue<strong>Tube</strong></h1>
      <form id="search" data-ng-submit="search()">
        <input id="query" name="q" type="text" placeholder="Search Youtube Instantly" data-ng-model="query">
        <input id="submit" type="image" src="search.png" alt="Search">
      </form>
      <!-- <nav> -->
      <nav style="float:left">
        <a id="play">{{ searchtermdisplay }}</a>
      </nav>
      <button style="float:right" class="ladda-button" data-color="red" data-style="expand-left"><span class="ladda-label">Share Playlist</span><span class="ladda-spinner"></span></button>
      <!-- </nav> -->
    </header>
    <div id="results">
      <div class="video" data-ng-repeat="video in results" data-ng-click="queue(video.id, video.title)">
        <img class="video-image" data-ng-src="{{ video.thumbnail }}">
        <p class="video-title">{{ video.title }}</p>
        <p class="video-author">{{ video.author }}</p>
        <p class="video-description">{{ video.description }}</p>
      </div>
    </div>
    <div id="player">
      <div id="placeholder"></div>
    </div>
    <div id="playlist">
      <p id="current">{{ youtube.videoTitle }}</p>
      <ol id="upcoming" data-ng-show="playlist">
        <li data-ng-repeat="video in upcoming">
          <p class="item-delete" data-ng-click="delete('upcoming', video.id)">delete</p>
          <p class="item-title" data-ng-click="launch(video.id, video.title)">{{video.title}}</p>
        </li>
      </ol>
      <ol id="history" data-ng-hide="playlist">
        <li data-ng-repeat="video in history">
          <p class="item-delete" data-ng-click="delete('history', video.id)">delete</p>
          <p class="item-title" data-ng-click="queue(video.id, video.title)">{{video.title}}</p>
        </li>
      </ol>
      <p id="tabs">
        <a ng-class="{on:playlist}" data-ng-click="tabulate(true)">Upcoming</a>
        <a ng-class="{on:!playlist}" data-ng-click="tabulate(false)">History</a>
      </p>
    </div>
    <footer>
      Source code available on <a href="https://github.com/ahhda/queuetube">GitHub</a>.
      Created by Anuj Bansal.
    </footer>
    <script src="spin.min.js"></script>
    <script src="ladda.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84145445-1', 'auto');
      ga('send', 'pageview');
      // var l = Ladda.bind('button');
      // Ladda.bind( 'button', { timeout: 2000 } );
    </script>
    <script src="jquery-1.11.2.min.js"></script>
    <script src="angular.min.js"></script>
    <!-- <script src="angular-local-storage.js"></script> -->
    <script src="app.js"></script>
    
    <script src="//cdn.jsdelivr.net/sortable/1.4.2/Sortable.min.js"></script>
  </body>
</html>
